* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "David Libre", serif;
    box-sizing: border-box;

  }
  
  .navbar {
    position: fixed;
    background-color: transparent;
    width: 100%;
    padding: 30px 0;
    top: 0;
    z-index: 999;
    transition: 0.3s linear;
  }
  
  .inner-width {
    max-width: 1300px;
    margin: auto;
    padding: 0 40px;
  }
  
  .navbar .inner-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  
  .logo {
    width: 242px;
    height: 132px;
    background: url(https://cdn.glitch.com/5ee84088-d31b-4f20-89d8-592128411228%2Falo.png?v=1602698694831) no-repeat center;
    background-size: contain;
  }
  
  
  .menu-toggler {
    background: none;
    width: 30px;
    border: none;
    cursor: pointer;
    position: relative;
    outline: none;
    z-index: 999;
    display: none;
  }
  .menu-toggler span {
    display: block;
    height: 3px;
    background-color: #fff;
    margin: 6px 0;
    position: relative;
    transition: 0.3s linear;
  }
  
  .navbar-menu a{
    color: white;
    font-size: 15px;
    font-weight: 500;
    margin-left: 30px;
    transition: 0.2s linear;
  }
  
  .navbar-menu a:hover {
    color: #48dbfb !important;
  }
  
  .sticky {
    background-color: white;
    padding: 18px 0;
  }
  .sticky .logo {
    width: 242px;
    height: 132px;
    background: url(https://cdn.glitch.com/5ee84088-d31b-4f20-89d8-592128411228%2Falo.png?v=1602698694831) no-repeat center;
     background-size: contain;
  }
  
  .sticky .navbar-menu a {
    color: black;
  }
  
  .sticky .menu-toggler span {
    background-color: #111;
  }
  
  #home {
    height: 30vh;
    min-height: 100px;
    background-color: lightgray;
    background-size: cover;
    background-attachment: fixed;
  }
  
  #home .inner-width {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
  }
  
  #home .content {
    width: 100%;
    color: white;
  }
  
  #home .content h1 {
    font-size: 40px;
    margin-bottom: 10px;
    margin-top: 90px;
  }
  
  #home .content h1::after {
    font-family: "David Libre", serif;
    content: "Welcome to your home page!";
    animation: textanim 10s linear infinite;
    color: lightskyblue; 
  }



  .editRef {
    margin-top: 40px;
    margin-left: 20px;
    font-size: 20px;
  }
  

  input[type=submit]
  {   
      margin-top: 20px;
      margin-bottom: 40px;
      margin-left: 50px;
      padding: 10px 30px;
      background-color: lightskyblue;
      border-color: lightskyblue;
      
  }

#article .result{
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none; 
    text-align: left;
    outline: none;
    font-size: 18px;
    transition: 0.4s;
    margin: 10px 0;
    width: 700px;
    height: 100px;
}
  
  
  textarea[type="commentDisplay"]{
    margin-top: 10px;
    font-size: 20px;
    width: 500px;
    height: 200px;
    padding: 8px 0px;
    margin: 5px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: none;
    margin-left: 10px;
  } 
  textarea{
    margin-top: 10px;
    font-size: 20px;
    width: 500px;
    height: 70px;
    padding: 8px 0px;
    margin: 5px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: none;
    margin-left: 10px;
  } 


  textarea::placeholder {
    margin-top: 10px;
    text-align: left;
  }
  .commentForm h2{
    margin-left: 10px;
    color: lightskyblue;
  }
  
  .commentform .commentDisplay{
    margin-top: 10px;
    font-size: 20px;
    width: 500px;
    height: 100px;
    padding: 8px 0px;
    margin: 5px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: none;
    margin-left: 10px;
  }
  
  article .input[type=submit]{
      margin-top: 20px;
  }
  footer {
    background-color: lightgrey;
    color: white;
    padding: 35px 0;

    text-align: center;
    border: 1px solid lightskyblue;
  }
  
  .sm a {
    display: inline-block;
    font-size: 20px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: lightskyblue;
    margin: 0 16px;
    transition: 0.4s linear;
    position: relative;
  }
  
  .sm a::before,
  .sm a:after {
    content: "";
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border: 1px solid;
    left: 0;
    top: 0;
    transition: 0.4s linear;
  }
  
  .sm a:hover {
    transform: scale(0.9);
  }
  
  .sm a:hover::before {
    border-left: 1px solid;
    border-right: 1px solid;
    transform: skewY(20deg);
  }
  
  .sm a:hover::after {
    border-top: 4px solid;
    border-bottom: 4px solid;
    transform: skewX(-20deg);
  }
  
  .copyright {
    margin-bottom: 20px;
    font-size: 15px;
  }
  .policy a {
    font-family: "David Libre", serif;
    font-size: 18px;
    padding: 0 3px 50px 3px;
    color: white;
  }
  
  .copyright a {
    font-size: 16px;
    color: #48dbfb;
    font-weight: 500px;
    margin-top: 10px;
  }
  

  


 
  
  
  @media screen and (max-width: 980px) {
    .menu-toggler {
      display: block;
    }
  
    .navbar-menu {
      position: fixed;
      height: 100vh;
      width: 100%;
      background-color: #353b48;
      top: 0;
      right: -100%;
      max-width: 400px;
      padding: 80px 50px;
      transition: 0.3s linear;
    }
  
    .navbar-menu a {
      display: block;
      font-size: 30px;
      margin: 30px 0;
    }
  
    .sticky .navbar-menu {
      background-color: white;
      padding: 18px 0;
    }
    .navbar-menu.active {
      right: 0;
    }
  
    .menu-toggler.active span:nth-child(1) {
      transform: rotate(-45deg);
      top: 4px;
    }
  
    .menu-toggler.activespan:nth-child(2) {
      opacity: 0;
      top: 4px;
    }
    .menu-toggler.active span:nth-child(3) {
      transform: rotate(45deg);
      bottom: 4px;
    }
    
  

  }
    @media screen and (max-width: 600px) {
      .inner-width {
        padding: 0 20px;
      }


  }
  
  
